# allow user 'mongod' mlockall
{{mongodb_user}} soft memlock unlimited
{{mongodb_user}} hard memlock unlimited

{{mongodb_user}} - nofile 65535
{{mongodb_user}} - memlock unlimited

{{mongodb_user}} - fsize unlimited
{{mongodb_user}} - cpu unlimited
{{mongodb_user}} - as unlimited
{{mongodb_user}} - nofile 64000
{{mongodb_user}} - rss unlimited
{{mongodb_user}} - nproc 64000
{{mongodb_user}} - memlock unlimited
